<div style="padding: 1rem; height: calc(100vh - 71.2px)">
  <h2>Test avec EditorComponent</h2>
  <p></p>
  <div style="display: flex; flex-wrap: wrap">
    <div>
      <app-editor [(content)]="content"></app-editor>
      <div style="display: flex; gap: 0.5rem">
        <app-button
          [isDisabled]="!content || content === ''"
          text="Sauvegarder"
          (btnClick)="saveContent(editor)"
        ></app-button>
        <app-button
          color="danger"
          [isDisabled]="!content || content === ''"
          text="Validation dangeureuse"
          (btnClick)="saveContentDanger(editor)"
        ></app-button>
      </div>
    </div>
    <app-select
      [itemsList]="[
        {
          id: 1,
          label: 'option 1',
        },
        {
          id: 2,
          label: 'option 2',
        },
        {
          id: 3,
          label: 'option 3',
        },
        {
          id: 4,
          label: 'option 4',
        },
        {
          id: 5,
          label: 'option 5',
        },
        {
          id: 6,
          label: 'option 6',
        },
      ]"
      label=""
    ></app-select>
  </div>
  <h3 style="padding-top: 2rem">Texte sauvegardé:</h3>
  <div style="word-wrap: break-word" [innerHTML]="cleanedContent"></div>
  <app-modal
    #modal
    description="Êtes vous sûr de vouloir modifier ce carnet ?"
    rightButtonLabel="Confirmer"
    title="Modification du carnet de voyage"
    (confirm)="confirmSaveContent()"
  />
  <app-modal
    #modalDanger
    description="Êtes vous sûr de vouloir supprimer ce carnet ?"
    rightButtonLabel="Supprimer"
    title="Suppression du carnet de voyage"
    [isDangerModal]="true"
    (confirm)="confirmSaveContent()"
  />
</div>
