@use '../../../styles/utilities' as *;

:host {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  /* ===========================================
  🎯 LAYOUT VARIANTS
=========================================== */

  &.card--column {
    flex-direction: column;

    ::ng-deep app-card-header,
    ::ng-deep app-card-footer {
      flex: 0 0 auto;
    }

    ::ng-deep app-card-footer {
      padding: 8px;
      padding-top: 16px;
      font-size: 0.7rem;
      text-align: center;
      position: relative;

      p {
        margin: 4px;
      }
    }

    ::ng-deep app-card-body {
      flex: 1 1 0;
      min-width: 0;
      min-height: 0;
    }
  }

  &.card--row {
    flex-direction: row;
    > app-card-header,
    > app-card-footer {
      flex: 0 0 auto;
    }

    > app-card-body {
      flex: 1 1 auto;
      min-width: 0;
      min-height: 0;
    }
  }

  /* ===========================================
  🎯 ACTIONS
=========================================== */

  &--hoverable:hover:not(.card--disabled) {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
