@use '../../../styles/utilities' as *;

:host {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;

  /* ===========================================
  🎯 LAYOUT VARIANTS
=========================================== */

  &.card--column {
    flex-direction: column;

    > app-card-body {
      flex: 1 1 0;
      min-width: 0;
      min-height: 0;
    }
  }

  &.card--row {
    flex-direction: row;
    > app-card-body {
      flex: 1 1 auto;
      min-width: 0;
      min-height: 0;
    }
  }

  /* ===========================================
  🎯 ACTIONS
=========================================== */

  &.card--hoverable {
    transition: transform 0.3s ease;

    &:hover:not(.card--disabled) {
      transform: scale(1.03);
      z-index: 1;
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    cursor: none;
    filter: grayscale(100%) brightness(0.85);
    opacity: 0.8;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 4px;
      background-color: rgba(220, 220, 220, 0.4);
      z-index: 5;
    }
  }
}
