@charset "UTF-8";
.bg-primary {
  background-color: #075b5d;
}

.text-primary {
  color: #075b5d;
}

.border-primary {
  border: solid;
  border-color: #075b5d;
}

.bg-secondary {
  background-color: #a10e13;
}

.text-secondary {
  color: #a10e13;
}

.border-secondary {
  border: solid;
  border-color: #a10e13;
}

.bg-accent {
  background-color: #025582;
}

.text-accent {
  color: #025582;
}

.border-accent {
  border: solid;
  border-color: #025582;
}

.bg-background {
  background-color: #f5f5f5;
}

.text-background {
  color: #f5f5f5;
}

.border-background {
  border: solid;
  border-color: #f5f5f5;
}

.bg-background-opacity {
  background-color: rgba(245, 245, 245, 0.95);
}

.text-background-opacity {
  color: rgba(245, 245, 245, 0.95);
}

.border-background-opacity {
  border: solid;
  border-color: rgba(245, 245, 245, 0.95);
}

.bg-background-article {
  background-color: #96cac4;
}

.text-background-article {
  color: #96cac4;
}

.border-background-article {
  border: solid;
  border-color: #96cac4;
}

.bg-background-input {
  background-color: #fafafa;
}

.text-background-input {
  color: #fafafa;
}

.border-background-input {
  border: solid;
  border-color: #fafafa;
}

.bg-text {
  background-color: #1c1c1c;
}

.text-text {
  color: #1c1c1c;
}

.border-text {
  border: solid;
  border-color: #1c1c1c;
}

.bg-text-secondary {
  background-color: #f2f2f2;
}

.text-text-secondary {
  color: #f2f2f2;
}

.border-text-secondary {
  border: solid;
  border-color: #f2f2f2;
}

.bg-text-comment {
  background-color: #696969;
}

.text-text-comment {
  color: #696969;
}

.border-text-comment {
  border: solid;
  border-color: #696969;
}

.bg-text-placeholder {
  background-color: #b3b3b3;
}

.text-text-placeholder {
  color: #b3b3b3;
}

.border-text-placeholder {
  border: solid;
  border-color: #b3b3b3;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 8px;
}

.radius-lg {
  border-radius: 12px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.margin-none {
  margin: 0px;
}

.margin-xs {
  margin: 4px;
}

.margin-sm {
  margin: 8px;
}

.margin-md {
  margin: 12px;
}

.margin-lg {
  margin: 16px;
}

.margin-xl {
  margin: 24px;
}

.margin-2xl {
  margin: 32px;
}

.margin-3xl {
  margin: 40px;
}

.margin-4xl {
  margin: 64px;
}

.gap-none {
  gap: 0px;
}

.gap-xs {
  gap: 4px;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 12px;
}

.gap-lg {
  gap: 16px;
}

.gap-xl {
  gap: 24px;
}

.gap-2xl {
  gap: 32px;
}

.gap-3xl {
  gap: 40px;
}

.gap-4xl {
  gap: 64px;
}

.padding-none {
  padding: 0px;
}

.padding-xs {
  padding: 4px;
}

.padding-sm {
  padding: 8px;
}

.padding-md {
  padding: 12px;
}

.padding-lg {
  padding: 16px;
}

.padding-xl {
  padding: 24px;
}

.padding-2xl {
  padding: 32px;
}

.padding-3xl {
  padding: 40px;
}

.padding-4xl {
  padding: 64px;
}

.border-none {
  border-width: 0;
}

.border-thin {
  border-width: 1px;
}

.border-medium {
  border-width: 2px;
}

.border-thick {
  border-width: 4px;
}

.border-xl {
  border-width: 6px;
}

.shadow-none {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-xs {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-sm {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-md {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.45);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-lg {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-xl {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.3s ease-in-out;
}

:host {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* ===========================================
    🎯 LAYOUT VARIANTS
  =========================================== */
  /* ===========================================
    🎯 ACTIONS
  =========================================== */
}
:host.card--column {
  flex-direction: column;
}
:host.card--column > app-card-body {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}
:host.card--row {
  flex-direction: row;
}
:host.card--row > app-card-body {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
:host.card--hoverable {
  transition: transform 0.3s ease;
}
:host.card--hoverable:hover:not(.card--disabled) {
  transform: scale(1.03);
  z-index: 1;
}
:host--clickable {
  cursor: pointer;
}
:host--disabled {
  cursor: none;
  filter: grayscale(100%) brightness(0.85);
  opacity: 0.8;
}
:host--disabled::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background-color: rgba(220, 220, 220, 0.4);
  z-index: 5;
}/*# sourceMappingURL=card.component.css.map */