<section class="reset-password">
  <div class="reset-password__container" *ngIf="!resetCompleted; else successTemplate">
    <h1 class="reset-password__title">Réinitialiser mon mot de passe</h1>
    <p class="reset-password__subtitle">
      Choisissez un nouveau mot de passe contenant au minimum 8 caractères.
    </p>

    <div class="reset-password__alert" *ngIf="generalError">
      <p class="reset-password__alert-message">{{ generalError }}</p>
      <button class="reset-password__link" type="button" (click)="navigateToForgotPassword()">
        Demander un nouveau lien
      </button>
    </div>

    <form class="reset-password__form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <app-text-input
        formControlName="password"
        label="Nouveau mot de passe"
        type="password"
        [isRequired]="true"
        autocomplete="new-password"
        [errorMessage]="getPasswordErrorMessage()"
      ></app-text-input>

      <app-text-input
        formControlName="confirmPassword"
        label="Confirmer le mot de passe"
        type="password"
        [isRequired]="true"
        autocomplete="new-password"
        [errorMessage]="getConfirmPasswordErrorMessage()"
      ></app-text-input>

      <div class="reset-password__actions">
        <app-button
          htmlType="submit"
          color="primary"
          size="lg"
          [isDisabled]="isSubmitting"
          [text]="isSubmitting ? 'Réinitialisation…' : 'Réinitialiser mon mot de passe'"
        ></app-button>
      </div>
    </form>

    <button class="reset-password__link reset-password__link--inline" type="button" (click)="navigateToForgotPassword()">
      Vous avez oublié votre mot de passe ?
    </button>
  </div>

  <ng-template #successTemplate>
    <div class="reset-password__container reset-password__container--success">
      <h1 class="reset-password__title">Mot de passe mis à jour</h1>
      <p class="reset-password__subtitle">
        Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
      </p>
      <div class="reset-password__actions">
        <app-button
          color="primary"
          size="lg"
          [text]="'Aller à la connexion'"
          (btnClick)="navigateToLogin()"
        ></app-button>
      </div>
    </div>
  </ng-template>
</section>
