<footer>
  <div class="footer__left">
    <app-logo src="/icon/logo.svg" alt="logo" size="xl"></app-logo>
    <div class="footer__socials">
      <app-logo logoName="x" color="primary" [isSvg]="true" size="sm"></app-logo>
      <app-logo logoName="instagram" color="primary" [isSvg]="true" size="sm"></app-logo>
      <app-logo logoName="youtube" color="primary" [isSvg]="true" size="sm"></app-logo>
      <app-logo logoName="linkedin" color="primary" [isSvg]="true" size="sm"></app-logo>
    </div>
  </div>

  <div class="footer__sections">
    <div class="footer__column">
      <h3>Travel</h3>
      <app-link label="MappeMonde" route="/" color="primary"></app-link>
      <app-link label="Vos carnets de voyages" route="/" color="primary"></app-link>
      <app-link label="UI design" route="/" icon="none" color="primary"></app-link>
      <app-link label="UI design" route="/" color="primary"></app-link>
    </div>

    <div class="footer__column">
      <h3>Explore</h3>
      <app-link label="Articles" route="/" color="primary"></app-link>
      <app-link label="Nos meilleurs destinations" route="/" color="primary"></app-link>
      <app-link label="Découvrir un pays" route="/" color="primary"> </app-link>
      <app-link label="UI design" route="/" color="primary"> </app-link>
    </div>

    <div class="footer__column">
      <h3>Resources</h3>
      <app-link label="Nous contacter" route="/" color="primary"></app-link>
      <app-link label="Votre compte" route="/" color="primary"> </app-link>
      <app-link label="Support" route="/" color="primary"></app-link>
    </div>
  </div>
</footer>
