@use 'variables' as *;

footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  background: $primaryColor;

  &.footer-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__sections {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  color: $secondaryTextColor;

  .footer-desktop & {
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 2rem;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  h3 {
    color: $secondaryTextColor;
    font-weight: bold;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.footer__socials__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.footer__link {
  color: #003;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* ✅ Au-dessus de 385px, on repasse en 45% */
@media (min-width: 386px) {
  .footer__column {
    width: 45%;
  }

  .footer__left {
    width: 45%;
  }

  .footer__socials__logo {
    display: flex;
    align-items: flex-start;
  }

  .footer-desktop .footer__column {
    flex: 1;
    width: auto;
    max-width: 200px;
  }

  .footer-desktop .footer__left {
    width: 25%;
  }

  .footer__socials {
    justify-content: flex-start;
  }
}

@media (min-width: 1023px) {
  footer {
    background-color: $backgroundColor;
  }
  .footer__socials__logo {
    align-items: center;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer__column {
    h3 {
      color: $primaryColor;
      font-weight: bold;
    }
  }
}
