@use '../../../styles/utilities' as *;

:host {
  display: block;
  max-width: 100%;
  overflow-x: hidden;
}

.iconContainer {
  width: 150px;
  height: 150px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.iconContainer:nth-child(even) {
  img {
    transform: scaleX(-1);
  }
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .mobile-header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2rem;
    z-index: 5;

    h1,
    h2 {
      color: #eaeaea;
      text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black;
    }

    .title-with-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .tripCardsList {
        display: flex;
        justify-content: center;
        width: 90%;
        max-width: 90%;
        gap: 1rem;
        z-index: 10;
      }
    }
  }

  .titleContainer {
    color: #eaeaea;
    width: 28rem;
    position: absolute;

    &.tablet-title {
      top: 33%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    &.desktop-title {
      align-self: flex-start;
      max-width: 100%;
      left: 5rem;
      top: 33%;
    }
  }

  app-top-bar {
    position: absolute;
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .arrow {
    position: absolute;
    bottom: -50px;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    margin-top: 26px;
    padding: 58px;
  }
  &:nth-of-type(odd) {
    h2 {
      color: map-get($colors, primary);
    }

    .mobile {
      margin-bottom: 2rem;
    }

    .arrowWithIcon {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .absolute {
        position: absolute;
        left: 65%;
      }
    }

    .tripCardsList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 36px;
      gap: 24px;
    }
  }

  &:nth-of-type(even) {
    h2 {
      color: map-get($colors, secondary);
    }
    .subSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: map-get($colors, primary);
      padding: 2rem;
      gap: 1rem;
      .destinationsList {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: repeat(auto-fit, max-content);
        gap: 1rem;
        .imageDestinationContainer {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          app-chip {
            position: absolute;
          }
        }
      }
    }
  }
}
