<header
  [ngClass]="{
    'mobile-header': breakpoint.isMobile(),
    'tablet-header': breakpoint.isTablet(),
    'desktop-header': breakpoint.isDesktop(),
  }"
>
  <div class="imageContainer">
    <img src="Images/paysage.jpg" />
  </div>
  <div class="iconContainer arrow">
    <img src="Images/arrow_secondary.svg" />
  </div>
  @if (breakpoint.isMobileOrTablet()) {
    <div class="mobile-header-content">
      <div class="mobile-header-title">
        <h2>Travelblog</h2>
        <h1>Vivez et revives vos plus beaux voyages</h1>

      </div>
      <div class="title-with-cards">
        <div>

        </div>
        <h2>Découvrez votre future destination</h2>
        <div class="tripCardsList">
          @for (card of cards; track card.id) {
            <app-visual-trip-card
              [id]="card.id"
              [title]="card.title"
              [description]="card.description"
              [image]="card.image"
              [author]="card.author"
              [dateCreation]="card.dateCreation"
            ></app-visual-trip-card>
          }
        </div>
      </div>
    </div>
  }
  @if (breakpoint.isDesktop()) {
    <div
      class="titleContainer"
      [ngClass]="{
        'tablet-title': breakpoint.isTablet(),
        'desktop-title': breakpoint.isDesktop(),
      }"
    >
      <h1>Un site de voyage unique pour toutes vos aventures</h1>
      <h2>Vivez et revivez vos plus beaux voyages</h2>
    </div>
  }
</header>
<main>
  <section>
    @if (breakpoint.isDesktop()) {
      <h2 class="subtitle-card">Découvrez votre future destination</h2>
      <div class="arrowWithIcon">
        <div class="iconContainer">
          <img src="Images/arrow_secondary.svg" />
        </div>
        <app-icon class="absolute" name="travel" color="secondary" size="xl"></app-icon>
      </div>
    }
    @if (breakpoint.isMobileOrTablet()) {
      <h2  class="subtitle-card">Découvrez plus de destinations</h2>
      <div class="arrowWithIcon mobile">
        <div class="iconContainer">
          <img src="Images/arrow_secondary_short.svg" />
        </div>
        <app-icon class="absolute" name="travel" color="secondary" size="xl"></app-icon>
      </div>
      <app-visual-trip-card
        [id]="0"
        title="Mappemonde"
        description="Accédez à tous les carnets"
        image="Images/svg/mappemonde-filigrane.svg"
        author=""
        dateCreation=""
      ></app-visual-trip-card>
    }
    @if (breakpoint.isDesktop()) {
      <div class="tripCardsList tripCardsList--grid">
        @for (card of cards.slice(0, 4); track card.id) {
          <app-visual-trip-card
            [id]="card.id"
            [title]="card.title"
            [description]="card.description"
            [image]="card.image"
            [author]="card.author"
            [dateCreation]="card.dateCreation"
          ></app-visual-trip-card>
        }
      </div>
    }
  </section>
  <section>
    <h2>Lieux à explorer</h2>
    <div class="arrowWithIcon">
      <div class="iconContainer">
        <img src="Images/arrow_primary.svg" />
      </div>
      <app-icon class="absolute" name="explore" color="primary" size="xl"></app-icon>
    </div>
    <div class="subSection">
      @if (breakpoint.isDesktop()) {
        <div class="destinationsList destinationsList--grid">
          @for (article of articles.slice(0, 6); track article.id) {
            <app-card
              borderColor="text-secondary"
              class="imageDestinationContainer"
              width="312px"
              height="220px"
              radius="lg"
            >
              <img [src]="article.src" />
              <app-chip
                [children]="article.title"
                backgroundColor="whiteOpacity"
                padding="xs"
              ></app-chip>
            </app-card>
          }
        </div>
      } @else {
        <div class="destinationsList destinationsList--carousel">
          @for (article of articles; track article.id) {
            <app-card
              borderColor="text-secondary"
              class="imageDestinationContainer"
              width="312px"
              height="220px"
              radius="lg"
            >
              <img [src]="article.src" />
              <app-chip
                [children]="article.title"
                backgroundColor="whiteOpacity"
                padding="xs"
              ></app-chip>
            </app-card>
          }
        </div>
      }
      <app-button text="Découvrez nos articles" color="secondary" size="lg"></app-button>
    </div>
  </section>
</main>
<app-footer></app-footer>
