<div class="worldMap">
  <div
    #detailPanel
    class="worldMap__detail-panel"
    [ngClass]="isTabletOrMobile() ? panelHeight() : ''"
  >
    @if (isTabletOrMobile()) {
      <div class="worldMap__detail-divider" (click)="togglePanel()">
        <app-divider thickness="thick" radius="15"></app-divider>
      </div>
      @if (!currentDiary) {
        <div class="search-bar">
          <span class="search-bar__icon material-symbols-outlined">search</span>
          <input type="text" class="search-bar__input" placeholder="Hinted search text" />
        </div>
      }
    }
    @if (currentDiary) {
      <div class="worldMap__detail-panel__header worldMap__header__diary">
        <div
          class="diary__cover"
          [style]="`background-image: url(${currentDiary.coverMedia.fileUrl})`"
        >
          <app-avatar
            label=""
            picture="{{ currentDiary.user.avatar }}"
            class="diary__avatar"
          ></app-avatar>
          <h1 class="worldMap__detail-panel__header--title">{{ currentDiary.title }}</h1>
          <p>Mettre des stats ?</p>
        </div>
      </div>
    } @else if (!currentDiary && !isTabletOrMobile()) {
      <div class="worldMap__detail-panel__header worldMap__header__filter">
        <app-icon name="search" color="primary" size="xl"></app-icon>
        <h1 class="worldMap__detail-panel__header--title">Lieux à explorer</h1>
        <div class="iconContainer arrow">
          <img src="icon/arrow_down.svg" />
        </div>
      </div>
    }

    <div class="worldMap__detail-panel__body">
      @if (currentDiary) {
        <div class="worldMap__detail-panel__body--progress-bar progress-bar--sticky">
          <app-progress-bar [completedSteps]="completedSteps" [totalSteps]="totalStepCount" />
        </div>
      }
      @if (!currentDiary) {
        <div class="worldMap__filter-panel">
          <app-accordion [isFilter]="true" title="Pays">
            <div class="filter__container">
              <app-checkbox checkboxName="Farniente" label="Farniente" color></app-checkbox>
              <app-checkbox checkboxName="A la dur" label="A la dur"></app-checkbox>
              <app-checkbox
                checkboxName="Je reste chez c'est triste"
                label="Je reste chez c'est triste"
              ></app-checkbox>
              <app-checkbox checkboxName="La plage" label="la plage"></app-checkbox>
            </div>
          </app-accordion>
          <app-accordion [isFilter]="true" title="Continent">
            <div class="filter__container">
              <app-checkbox checkboxName="Farniente" label="Farniente" color></app-checkbox>
              <app-checkbox checkboxName="A la dur" label="A la dur"></app-checkbox>
              <app-checkbox
                checkboxName="Je reste chez c'est triste"
                label="Je reste chez c'est triste"
              ></app-checkbox>
              <app-checkbox checkboxName="La plage" label="la plage"></app-checkbox>
            </div>
          </app-accordion>
          <app-accordion [isFilter]="true" title="Durée">
            <div class="filter__container">
              <app-checkbox checkboxName="Farniente" label="Farniente" color></app-checkbox>
              <app-checkbox checkboxName="A la dur" label="A la dur"></app-checkbox>
              <app-checkbox
                checkboxName="Je reste chez c'est triste"
                label="Je reste chez c'est triste"
              ></app-checkbox>
              <app-checkbox checkboxName="La plage" label="la plage"></app-checkbox>
            </div>
          </app-accordion>
          <app-accordion [isFilter]="true" title="Themes">
            <div class="filter__container">
              <app-checkbox checkboxName="Farniente" label="Farniente" color></app-checkbox>
              <app-checkbox checkboxName="A la dur" label="A la dur"></app-checkbox>
              <app-checkbox
                checkboxName="Je reste chez c'est triste"
                label="Je reste chez c'est triste"
              ></app-checkbox>
              <app-checkbox checkboxName="La plage" label="la plage"></app-checkbox>
            </div>
          </app-accordion>
        </div>
      }
      <div class="worldMap__detail-panel__body--steps-container">
        @for (step of steps; track $index) {
          <app-accordion
            [id]="step.id"
            [title]="step.title"
            [subTitle]="step.country"
            [startDate]="step.startDate"
            [isOpen]="openedStepId === step.id"
            (toggleOpen)="onAccordionToggle(step.id, $event)"
            (stepClicked)="onStepClicked($event)"
            (remove)="onDeleteSteps(step.id)"
            role="admin"
            [(isEditing)]="step.isEditing"
          >
            <div class="step__content__container">
              <p>{{ step.description }}</p>

              <div class="step__media__wrapper">
                @if (step.medias && step.medias.length > 1) {
                  <button
                    class="scroll-btn scroll-btn--left"
                    (click)="scrollMediaContainer(step.id, 'left')"
                  >
                    ←
                  </button>
                }

                <div class="step__media__container" [attr.data-id]="step.id">
                  @for (media of step.medias; track $index) {
                    <img [src]="media.fileUrl" />
                  }
                </div>

                @if (step.medias && step.medias.length > 1) {
                  <button
                    class="scroll-btn scroll-btn--right"
                    (click)="scrollMediaContainer(step.id, 'right')"
                  >
                    →
                  </button>
                }
              </div>

              <div class="step__action__btn">
                <app-button
                  [startIcon]="true"
                  icon="favorite"
                  type="like"
                  text="{{ step.likes }}"
                  (btnClick)="handleButtonClick($event, step)"
                ></app-button>
                <app-button
                  [startIcon]="true"
                  icon="chat_bubble"
                  type="comment"
                  text="{{ getCommentLabel(step) }}"
                  (btnClick)="handleButtonClick($event, step)"
                ></app-button>
              </div>
              <!-- ✅ Ici on affiche si le step correspond -->
              @if (openedCommentStepId === step.id) {
                <div class="step_comments">
                  @if (step.comments?.length) {
                    @for (comment of step.comments; track $index) {
                      <div
                        class="step_comments__container"
                        [ngClass]="{
                          'step_comments__container--left': $index % 2 === 0,
                          'step_comments__container--right': $index % 2 !== 0,
                        }"
                      >
                        <p class="step_comment__user">
                          {{ comment.user.username }}
                          <span class="step_comment__date">{{
                            comment.updatedAt | date: 'dd/MM/yyyy'
                          }}</span>
                        </p>
                        <p class="step_comment__content">{{ comment.content }}</p>
                      </div>
                    }
                  } @else {
                    <p>Aucun commentaire pour le moment.</p>
                  }
                </div>
              }
            </div>
          </app-accordion>
        }
      </div>
    </div>
  </div>
</div>
