<app-card
  width="240px"
  height="312px"
  borderColor="text-secondary"
  layout="column"
  shadow="sm"
  [isHoverable]="true"
  [isClickable]="true"
  (click)="onCardClick()"
  radius="lg"
>
  <app-card-body><img [src]="image" /></app-card-body>
  <app-card-footer>
    @if (title) {
      <app-chip [customClass]="'title-chip chip-overlay'" [children]="title" shadow="xl"></app-chip>
    }
    <span class="description">{{ description }}</span>
    <div class="informations">
      @if (author) {
        <app-chip
          [children]="author"
          startIcon="account_circle"
          startIconColor="secondary"
        ></app-chip>
      }
      @if (dateCreation) {
        <p>Crée le {{ dateCreation }}</p>
      }
    </div>
  </app-card-footer>
</app-card>
