@use 'variables' as *;
@use 'sass:map';

.avatar__content {
  position: relative;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &.avatar--inactive {
    filter: grayscale(100%) brightness(0.8);
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      inset: 0;
      background-color: rgba(193, 191, 191, 0.7);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span p {
    font-family: $font-text;
    font-weight: bold;
  }
}

.avatar__content.compact {
  width: 2rem;
}
@each $name, $colors in $avatar-colors {
  .avatar--#{$name} {
    background-color: map.get($colors, bg);
    border: 3px solid map.get($colors, border);
    color: map.get($colors, text);
  }
}

@media screen and (max-width: 1024px) {
  .avatar__content {
    width: 2rem;
  }
}
