<header
  class="topbar"
  [ngClass]="[
    bp.isMobile() ? 'is-mobile' : '',
    bp.isTablet() ? 'is-tablet' : '',
    bp.isDesktop() ? 'is-desktop' : '',
    (bp.isDesktop() || bp.isTablet()) && isHomeOrArticlePage ? 'topbar--desktop-home' : 'hola',
  ]"
>
  <div class="topbar__left">
    @if ((bp.isMobile() && isHomeOrArticlePage) || !bp.isMobile()) {
      <img src="/icon/logo_desktop.svg" alt="logo" class="topbar__logo" routerLink="/" />
    } @else {
      <a routerLink="/back" class="topbar__link">
        <app-icon name="arrow_back" [size]="iconSize()" />
      </a>
    }
    @if (!bp.isMobileOrTablet() && !isHomeOrArticlePage) {
      <div class="topbar__center">
        <div class="search-bar">
          <span class="search-bar__icon material-symbols-outlined">search</span>
          <input type="text" class="search-bar__input" placeholder="Hinted search text" />
        </div>
      </div>
    }
  </div>

  <div class="topbar__right">
    <nav class="topbar__menu">
      @if (bp.isDesktop() || bp.isTablet()) {
        @if (!isConnected && isHomeOrArticlePage) {
          <app-button [type]="'standard'" text="Connexion" routerLink="/me" color="secondary" />
          <app-button [type]="'standard'" text="Mappemonde" routerLink="/travels" color="primary" />
        } @else if (!isConnected && !isHomeOrArticlePage) {
          <a routerLink="/travels" class="topbar__link">
            <app-icon name="language" [size]="iconSize()" />
            MappeMonde
          </a>
          <a routerLink="/articles" class="topbar__link">
            <app-icon name="map_search" [size]="iconSize()" />
            Articles
          </a>
          <app-button
            [type]="'standard'"
            text="Connexion"
            routerLink="/me"
            color="secondary"
            [size]="btnSize()"
          />
        } @else {
          <a routerLink="/login" style="color: white">Connexion</a>
          <a (click)="onLogout()" style="color: white">Se Déconnecter</a>
          <a routerLink="/travels" class="topbar__link">
            <app-icon name="language" [size]="iconSize()" />
            Mappemonde
          </a>
          <a routerLink="/articles" class="topbar__link">
            <app-icon name="map_search" [size]="iconSize()" />Articles de voyages</a
          >
          @if (canDisplayDiariesLink) {
            <a [routerLink]="['/travels/users', currentUserId()]" class="topbar__link__mobile"
              ><app-icon name="import_contacts" [size]="iconSize()"
            /></a>
          }
        }
        @if (isMyDiariesPage) {
          <a routerLink="/travels" class="topbar__link__mobile"
            ><app-icon name="map_search" [size]="iconSize()"
          /></a>
        }
        @if (isFilterPage) {
          @if (canDisplayDiariesLink) {
            <a [routerLink]="['/travels/users', currentUserId()]" class="topbar__link__mobile"
              ><app-icon name="import_contacts" [size]="iconSize()"
            /></a>
          }
          <a routerLink="/travels" class="topbar__link__mobile"
            ><app-icon name="map_search" [size]="iconSize()"
          /></a>
        }
        @if (isHomeOrArticlePage) {
          <a routerLink="/travels" class="topbar__link__mobile">
            <app-icon name="language" [size]="iconSize()" />
          </a>
        }
        @if (!isConnected) {
          <a routerLink="/me" class="topbar__link__mobile">
            <app-icon name="account_circle" [size]="iconSize()" />
          </a>
        } @else {
          <a routerLink="/me" class="topbar__link__mobile"><app-avatar label="Jean" /></a>
        }
      }
    </nav>
  </div>
</header>
