// Colors variants
$backgroundColor: #F5F5F5;
$backgroundWithOpacity: rgba(245, 245, 245, 0.95);
$primaryColor:#075B5D;
$secondaryColor: #A10E13;
$accentColor:#025582;
$backgroundArticleColor: #96CAC4;
$secondaryTextColor: #F2F2F2;
$commentTextColor: #696969;
$placeHolderColor: #B3B3B3;
$inputBackgroundColor: #FAFAFA;
$textColor:#1C1C1C;
