@use 'variables' as *;
@use 'sass:color';
.topbar {
  display: flex;
  flex-direction: row;
  background-color: $primaryColor;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4.5rem;
  max-height: 5rem;
  font-size: 1rem;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0.5rem 2.5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 1rem 1.5rem;
    height: 3rem;
  }

  @media screen and (max-width: 430px) {
    padding: 0 1.5rem;
  }

  &--desktop-home {
    background-color: rgba(7, 91, 93, 0.5);
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  &__logo {
    height: 3rem;
    cursor: pointer;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      height: 2.5rem;
    }

    @media screen and (max-width: 768px) {
      height: 2rem;
    }
  }

  &__center .search-bar {
    flex: 1;
    margin: 0 0.5rem;

    @media screen and (min-width: 430px) and (max-width: 1024px) {
      margin: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 0.5rem;
    }

    @media screen and (min-width: 430px) and (max-width: 768px) {
      padding: 0.3rem;
    }
  }

  &__right,
  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    // padding: 0.5rem;
    gap: 3rem;
    align-items: center;

    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      gap: 2rem;
    }

    @media screen and (min-width: 585px) and (max-width: 850px) {
      gap: 1.5rem;
    }

    @media screen and (max-width: 584px) {
      gap: 1rem;
    }

    // @media screen and (max-width: 430px) {
    //   align-items: flex-start;
    // }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondaryTextColor;
    font-size: 0.75rem;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.5rem;
    }

    &:hover {
      color: color.adjust($color: $secondaryTextColor, $lightness: 10%);
    }
  }

  &__link__mobile {
    color: $secondaryTextColor;
    font-size: 0.75rem;

    &:hover {
      color: color.adjust($color: $secondaryTextColor, $lightness: 10%);
    }
  }

  &__link__mobile {
    color: $secondaryTextColor;
    font-size: 0.75rem;

    &:hover {
      color: darken($color: $secondaryTextColor, $amount: 10);
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 350px;
  border: 1px solid #ccc;

  @media screen and (min-width: 430px) and (max-width: 768px) {
    font-size: 0.6rem;
  }

  &__icon {
    font-size: 1.25rem;
    color: gray;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.8rem;
    @media screen and (max-width: 608px) {
      font-size: 0.6rem;
    }
    @media screen and (min-width: 610px) and (max-width: 850px) {
      width: fit-content;
      font-size: 0.7rem;
    }
  }
}
