@use 'variables' as *;
//Nommage BEM (block Element Modifier)
// Forme générale
// .block { }
// .block__element { }
// .block--modifier { }
// .block__element--modifier { }

.btn {
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: $font-text;
  height: 2.5rem;

  &--standard {
    min-width: 8rem;
  }
  &__icon {
    // font-size: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    // color: inherit;
  }

  &--icon-only {
    max-width: 2.5rem;
    min-width: none;
    padding: 10px 10px !important;
    justify-content: center;
    gap: 0;
  }

  &--primary {
    background-color: $primaryColor;
    color: $secondaryTextColor;

    &:hover:not(:disabled) {
      background-color: $secondaryTextColor;
      color: $primaryColor;
      border: $primaryColor 1px solid;

      .btn__icon {
        color: inherit;
      }
    }
  }

  &--secondary {
    background-color: $secondaryColor;
    color: $secondaryTextColor;

    &:hover:not(:disabled) {
      background-color: $secondaryTextColor;
      color: $secondaryColor;
      border: $secondaryColor 1px solid;

      .btn__icon {
        color: inherit;
      }
    }
  }

  &--danger {
    background-color: $secondaryColor;
    color: $secondaryTextColor;
    &:hover:not(:disabled) {
      color: $secondaryColor;
      background-color: $secondaryTextColor;
      border: 1px solid $secondaryColor;
    }
  }
  &--white {
    background-color: $secondaryTextColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    &:hover:not(:disabled) {
      background-color: $primaryColor;
      color: $secondaryTextColor;
    }

    &-danger {
      background-color: $secondaryTextColor;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;
      &:hover:not(:disabled) {
        background-color: $secondaryColor;
        color: $secondaryTextColor;
      }
    }
  }

  &--sm {
    font-size: 12px;
    padding: 0.5rem 1rem;
    width: fit-content;
    height: 2rem;
  }

  &--md {
    font-size: 14px;
    padding: 0.75rem 1rem;
    width: 8rem;
  }

  &--lg {
    font-size: 16px;
    padding: 1.125rem 1rem;
    // width: 10.25rem;
  }

  &--auto {
    font-size: 0.8rem;
    padding-inline: 1rem;
    width: auto;
  }

  &--border_lg {
    border-radius: 1.125rem;
  }

  &--border_sm {
    border-radius: 0.5rem;
  }

  &--border_md {
    border-radius: 1rem;
  }

  &--like,
  &--comment {
    &--primary {
      width: fit-content;
      height: fit-content;
      padding: 0.25rem 1rem;
      background-color: $secondaryTextColor;
      color: $primaryColor;
      border: $primaryColor 1px solid;

      &:hover:not(:disabled) {
        background-color: $primaryColor;
        color: $secondaryTextColor;
        border: $secondaryTextColor 1px solid;
      }
    }

    &--secondary {
      width: fit-content;
      height: fit-content;
      padding: 0.25rem 1rem;
      background-color: $secondaryTextColor;
      color: $secondaryColor;
      border: $secondaryColor 1px solid;

      &:hover:not(:disabled) {
        background-color: $secondaryColor;
        color: $secondaryTextColor;
        border: $secondaryTextColor 1px solid;
      }
    }
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
