<app-card
  class="travel-diary-card"
  width="100%"
  height="218px"
  layout="column"
  [padding]="isMobileOrTablet() ? 'lg' : 'xl'"
  shadow="xs"
  radius="lg"
  [isHoverable]="true"
  [isClickable]="true"
  (click)="onCardClick()"
  [style]="{
    'background-image': 'url(' + image + ')',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
  }"
>
  <div class="travel-diary-card__overlay"></div>
  <app-card-body class="travel-diary-card__body">
    <div
      class="travel-diary-card__content"
      [ngClass]="{ 'travel-diary-card__content--mobile': isMobileOrTablet() }"
    >
      <div class="travel-diary-card__header">
        <h3>{{ title }}</h3>
        @if (showInlineActions) {
          <div class="travel-diary-card__actions">
            <button type="button" (click)="onEdit(); $event.stopPropagation()">
              <app-icon
                name="edit"
                [color]="isMobileOrTablet() ? 'light' : 'primary'"
                size="lg"
              ></app-icon>
            </button>
            <button
              type="button"
              (click)="onDelete(); $event.stopPropagation()"
              [class.travel-diary-card__actions-btn--hidden]="isMobileOrTablet()"
            >
              <app-icon
                name="delete"
                [color]="isMobileOrTablet() ? 'light' : 'secondary'"
                size="lg"
              ></app-icon>
            </button>
          </div>
        }
      </div>
      <div class="travel-diary-card__description" [innerHTML]="description | safeHtml"></div>
    </div>
  </app-card-body>
</app-card>
