:host(.alt-background) {
}

:host {
  display: block;
  width: 100%;
  box-sizing: border-box;

  ::ng-deep app-card {
    height: 75%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  button {
    all: unset;
    &:hover {
      opacity: 0.7;
    }
  }

  .informations {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    box-sizing: border-box;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .description {
      margin-top: 8px;
      font-size: 0.875rem;
    }
  }
}
