@use 'variables' as *;
@use './styles/utilities' as *;
@use 'leaflet/dist/leaflet.css';

:root {
  --top-bar-height: 68px;
}

@media (max-width: 1024px) {
  :root {
    --top-bar-height: 64px;
  }
}

@media (max-width: 768px) {
  :root {
    --top-bar-height: 56px;
  }
}
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: $font-title;
  font-weight: 600;
}

html,
body,
app-root,
app-home-page {
  height: 100%;
}

body {
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  font-family: $font-text;
  color: $textColor;
  // overflow: hidden;
}

a {
  color: inherit;
  cursor: pointer;
}

.white-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 2px solid #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.size-md {
  width: 2rem !important;
  height: 2rem !important; /* si tu veux garder la proportion */
  border-radius: 50%; /* si tu veux un rond, optionnel */
  border: 2px solid $backgroundColor;
}
