@use 'variables' as *;
@use './styles/utilities' as *;
@use 'leaflet/dist/leaflet.css';

:root {
  --top-bar-height: 68px;
}

@media (max-width: 1024px) {
  :root {
    --top-bar-height: 64px;
  }
}
@media screen and (max-width: 431px) {
  :root {
    --top-bar-height: 4.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: $font-title;
  font-weight: 600;
}

app-root,
app-home-page {
  min-height: 100vh;
}
html,
body {
  font-family: $font-text;
  color: $textColor;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

html body.cz-move-body-down {
  transform: none !important;
}

a {
  color: inherit;
  cursor: pointer;
}

.white-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 2px solid #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.size-md {
  width: 2rem !important;
  height: 2rem !important; /* si tu veux garder la proportion */
  border-radius: 50%; /* si tu veux un rond, optionnel */
  border: 2px solid $backgroundColor;
}
