<!-- <button type="button" (click)="onClick()">click</button> -->
<button
  [ngClass]="[
    'btn',
    'btn--' + color,
    'btn--' + size,
    'btn--' + radius,
    type !== 'standard' ? 'btn--' + type + '--' + color : 'btn--standard',
    isDisabled ? 'btn--disabled' : '',
    isActionBtn ? 'btn--icon-only' : '',
  ]"
  [disabled]="isDisabled"
  (click)="onClick()"
>
  @if (isActionBtn) {
    <span class="btn__icon material-symbols-outlined">{{ icon }}</span>
  } @else {
    @if (startIcon) {
      <span class="btn__icon material-symbols-outlined">{{ icon }}</span>
    }
    {{ text }}
    @if (endIcon) {
      <span class="btn__icon material-symbols-outlined">{{ icon }}</span>
    }
  }
</button>
