<div
  [class]="['accordion__container', isFilter && 'filter']"
  (clickOutside)="closeDropdown()"
  [attr.data-test]="dataTest ?? null"
>
  <div class="accordion__header">
    <div class="accordion__header__title" (click)="onToggleOpen()" (click)="onStepClick()">
      <h3>{{ title }}</h3>
      @if (role !== 'reader' && !isFilter) {
        <div class="accordion__header__title--actions">
          @if (!isEditing) {
            <button
              (click)="onToggleEdit($event)"
              class="accordion__header__title--button"
              [attr.aria-label]="`modifier ${title}`"
              [attr.data-test]="editDataTest ?? null"
            >
              <app-icon name="edit" size="md" color="primary"></app-icon>
            </button>
            <button
              (click)="onDelete($event)"
              class="accordion__header__title--button danger"
              [attr.aria-label]="`supprimer ${title}`"
              [attr.data-test]="deleteDataTest ?? null"
            >
              <app-icon name="delete" size="md" color="danger"></app-icon>
            </button>
          } @else {
            <button
              (click)="onToggleEdit($event)"
              class="accordion__header__title--button"
              [attr.aria-label]="`annuler la modification`"
            >
              <app-icon name="close" size="md" color="primary" [weight]="600"></app-icon>
            </button>
          }
        </div>
      }
      <button
        [class]="['accordion__header__title--button', isOpen ? 'rotate' : '']"
        [attr.aria-label]="(isOpen ? `Masquer` : `Afficher`) + ' les détails'"
      >
        <app-icon name="keyboard_arrow_down" size="lg"></app-icon>
      </button>
    </div>
    @if (!isFilter) {
      <div class="accordion__header__subtitle">
        <span>{{ subTitle }}</span>
        @if (startDate) {
          <p>{{ formattedDate }}</p>
        }
      </div>
    }
  </div>
  <div [@verticalSlide]="isOpen ? 'open' : 'close'">
    <div class="accordion__content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
