<app-travel-map-layout
  [steps]="steps"
  [currentDiary]="currentDiary"
  [allDiaries]="allDiaries"
  [openedStepId]="openedStepId"
  [openedCommentStepId]="openedCommentStepId"
  [completedSteps]="completedSteps"
  [mapCenterCoords]="mapCenterCoords"
  (mapInitialized)="onMapInitialized($event)"
  (diarySelected)="onDiarySelected($event)"
  (stepSelected)="onSelectedStep($event)"
  (renitializeDiaries)="onRenitializeDiaries()"
  (stepClicked)="onStepClicked($event)"
  (toggleStepAccordion)="onAccordionToggle($event.stepId, $event.isOpen)"
  (deleteStep)="onDeleteSteps($event)"
  (btnClick)="handleButtonClick($event.action, $event.step)"
></app-travel-map-layout>
