@use 'variables' as *;

.layout {
  display: flex;
}

.panel-area {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.worldMap__map-area {
  flex: 11;
  height: calc(100vh - 70px);
}

@media screen and (min-width: 1024px) {
  .panel-area {
    flex: 8;
  }
  .worldMap__map-area {
    flex: 11;
    height: calc(100vh - 70px);
    width: auto;
  }
}
