@use 'variables' as *;

.layout {
  display: flex;
}

.panel-area {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  height: calc(100vh - var(--top-bar-height, 68px));
  height: calc(100dvh - var(--top-bar-height, 68px));
  overflow-y: auto;
}

.worldMap__map-area {
  flex: 1;
  height: calc(100vh - var(--top-bar-height, 68px));
  height: calc(100dvh - var(--top-bar-height, 68px));
}

@media screen and (min-width: 1024px) {
  .worldMap__map-area {
    width: auto;
  }

  .panel-area {
    flex: 0 0 40%;

    &.panel-area--diary {
      flex: 0 0 48%;
    }
  }
}
